<div class="container p-0">
    <div class="row justify-contenet-between">
        <div class="col-10">
            
            <div class="row mb-0 p-0">
                <div class="col-12">
                    <app-header></app-header>
                </div>
            </div>
            <div class="row my-0 py-0">
                <div class="col-12">
                    <app-chart></app-chart>
                </div>
            </div>
            <div class="row my-0">
                <div class="col-12">
                    <app-table></app-table>
                </div>
            </div>
        </div>
        <div class="col-2 text-end  m-0 p-0">
            <img src="./assets/images/sidebar.png" alt="" height="700">
        </div>
    </div>
</div>